
<div class="yield-layout">

  <%= render 'info', user: @user %>

  <div class="user-followers">
  <h2 class="user-followers__title">フォロワー一覧</h2>
  <% if @users.exists? %>
    <%= render "users/index", users: @users %>
  <% else %>
    <div class="item-nothing">ユーザーはいません</div>
  <% end %>
  </div>

</div>