<div class="follwers">
<h2 class="follwers__title">フォロワー一覧</h2>
<% if @user.exists? %>
  <%= render "users/index", users: @user %>
<% else %>
  <div class="item-nothing">ユーザーはいません</div>
<% end %>
</div>