
<div class="yield-layout">

  <%= render 'info', user: current_user %>

  <div class="user-following">
    <h2 class="user-following__title">フォロー一覧</h2>
    <% if @user.exists? %>
      <%= render "users/index", users: @user %>
    <% else %>
      <div class="item-nothing">ユーザーはいません</div>
    <% end %>
  </div>

</div>