<div class="yield-layout">

  <div class="values-edit">
    <h2 class="values-edit__title">登録内容編集</h2>
    <%= form_with model:@fixedcost_value, local: true do |f| %>

      <%= render 'form', fixedcosts: @fixedcosts, f: f %>

    <% end %>
  </div>

</div>