<div class="records-month">
  <h2 class="records-month__title">固定費カレンダー</h2>

  <%= render 'kakeibo-p/links' %>

  <%= month_calendar events: @fixedcost_values do |date, fixedcost_value| %>
    <%=date.day %>
    <div class="records-month__box">
      <% sum_values = 0 %>
      <% fixedcost_value.each do |item| %>
        <% sum_values += item.value %>
      <% end %>
      <% unless sum_values == 0 %>
        <div class="records-month__head">合計</div>
        <div class="records-month__total">
          <div class="move-page">
            <%= link_to sum_values, {controller: "records", action: "fixedcost_day", start_time: date} %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>