.value-form {
    margin: 10px 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;

  &__contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  &__box {
    width: 200px;
    margin: 10px 0;
  }

}

.value-form:before,
.value-form:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}

.value-form:before {left: 10px;}
.value-form:after {right: 10px;}