<div class="user-index" >
  <% users.each do |user| %>
    <div class="user-index__hd">
      プロフィール画像
      アカウント名
    </div>
    <div class="user-index__body" >
      <div class="user-index__image">
        <%= attachment_image_tag(user, :profile_image, fallback: "user_no_image.jpg", size: '40x40') %>
      </div>
      <div class="user-index__name">
        <%= user.name %>
      </div>
      <div class="move-page">
        <%= link_to '詳細', user_path(user) %>
      </div>
    </div>
  <% end %>
</div>