<div class="yield-layout">
  <%= render 'info', user: @user %>

  <div class="users-index">
    <div class="users-index__title">ユーザー一覧</div>
    <%= render 'users/index',users: @users %>
  </div>
</div>