<div class="yield-layout">
    <%= render 'info', user: @user %>

    <div class="my-posts">
      <h2 class="my-posts__title"><%= @user.name %>の投稿</h2>
      <%= render 'posts/index',posts: @posts %>
    </div>
</div>