<div class="yield-layout">

  <div class="days">
    <h2 class="days__title">日ごとの固定費一覧</h2>

    <%= render 'kakeibo-p/links' %>

    <%= form_with url: {controller: 'records', action: 'fixedcost_day'}, method: :get, local: true do |f| %>
      <%= render 'kakeibo-p/day_select', f: f %>
    <% end %>

    <%= render 'fixedcost_values/records', start_time: @start_time, total: @fixedcost_value_total, value: @fixedcost_values %>
  </div>

</div>