<div class="yield-layout">

  <div class="days">
    <h2 class="days__title">日ごとの収入一覧</h2>

    <%= render 'kakeibo-p/links' %>

    <%= form_with url: {controller: 'records', action: 'income_day'}, method: :get, local: true do |f| %>
      <%= render 'kakeibo-p/day_select', f: f %>
    <% end %>
    <%= render 'income_values/records', start_time: @start_time, total: @income_value_total, value: @in_value_month %>
  </div>

</div>