<div class="records-day__select">

  <div class="records-day__head">日付選択</div>
  <div class="records-day__box3">
    <div class="records-day__date">
      <%= f.date_field "start_time" %>
    </div>

    <div class="move-page">
      <%= f.submit '選択', class:'move-page__select' %>
    </div>
  </div>
</div>