<div class="kakeibo-form">
  <div class="kakeibo-form__box">
    <div class="kakeibo-form__head">項目名</div>
    <div class="kakeibo-form__name">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="kakeibo-form__box">
    <div class="kakeibo-form__head">備考</div>
      <div class="kakeibo-form__descrip">
      <%= f.text_field :description %>
    </div>
  </div>
</div>
<div class="move-page">
  <%= f.submit %>
</div>
