
  <div class="values-show__box">
    <div class="values-show__head">項目</div>
    <div class="values-show__obj">
      <%= item.variablecost.name %>
    </div>
  </div>
  <div class="values-show__box">
    <div class="values-show__head">内容</div>
    <div class="values-show__obj">
      <% if item.content.present? %>
        <%= item.content %>
      <% else %>
        <div class="item-nothing">未設定</div>
      <% end %>
    </div>
  </div>
  <div class="values-show__box">
    <div class="values-show__head">金額</div>
    <div class="values-show__obj">
      <%= item.value.to_s(:delimited) %>円
    </div>
  </div>
  <div class="values-show__box">
    <div class="values-show__head">備考</div>
    <div class="values-show__obj">
      <% if item.description.present? %>
        <%= item.description %>
      <% else %>
        <div class="item-nothing">未設定</div>
      <% end %>
    </div>
  </div>

  <div class="values-show__box">
    <div class="values-show__head">公開</div>
    <% if item.privacy=="1" %>
      <div class="values-show__obj">公開中</div>
    <% else %>
      <div class="values-show__obj">非公開</div>
    <% end %>
  </div>