
<div class="yield-layout">

  <div class="about">
    <h1 class="about__title">私の家計簿</h1>
    <div class="logo">
      <%= image_tag 'pig_white.png', class: 'logo__main' %>
    </div>
    <div class="about__box">
      家計簿をつけて支出を投稿できるサイトです。<br>
      どんどん投稿して家計簿を続けましょう。
    </div>
  </div>

</div>