<div class="item-edit">
  <h2 class="item-edit__title">支出項目編集</h2>
  <div class="item-edit__register">
    <%= form_with model: @variablecost, url:variablecost_path, local: true do |f| %>
      <%= render 'kakeibo-p/form', f: f %>
    <% end %>
  </div>
</div>