<div class="fixedcosts-edit">
  <div class="fixedcosts-edit__title">固定費項目編集</div>
  <div class="fixedcosts-edit__register">
    <%= form_with model: @fixedcost, url:fixedcost_path, local: true do |f| %>
      <%= render 'kakeibo-p/form', f: f %>
      <%= f.submit %>
    <% end %>
  </div>
</div>