<div class="yield-layout">
    <%= render 'users/info', user: @user %>

    <div class="post-index">
      <h2 class="post-inde__title">投稿一覧</h2>
        <%= render 'index', posts: @posts %>
    </div>
</div>