<%= render 'searchs/form' %>
<div class="yield-layout">
    <%= render 'users/info', user: @user %>

    <div class="post-index">
      <h2 class="post-index__title">投稿一覧</h2>
        <%= render 'index', variablecost_values: @variablecost_values %>
    </div>
</div>