.move-page div, .move-page a, .move-page input {
  &:not(.move-page__shrink) {display: flex;}
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  color: #fff;
  background-color: #20b2aa;
  transition: 0.3s;
  border-radius: 20px;
  &:not(.move-page__name) {margin-top: 10px;}

  &__show {
    bottom: 0;
    margin: 3px;
  }

}



.move-page div:hover, .move-page a:hover, .move-page input:hover {
  text-decoration: none;
  background-color: #cccccc;
  color: #000;
}

.links-new {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

