.graph {

  &__content {
    max-width: 400px;
    max-height: 400px;
  }
}

.graph-show__tab-wrap{margin:80px auto;}
input[type="radio"]{display:none;}
.graph-show__tab-area{font-size:0; margin:0 10px;}
.graph-show__tab-area label{width:150px; margin:0 5px; display:inline-block; padding:12px 0; color:#999; background:#ddd; text-align:center; font-size:13px; cursor:pointer; transition:ease 0.2s opacity;}
.graph-show__tab-area label:hover{opacity:0.5;}
.graph-show__panel-area{background:#fff;}
.graph-show__tab-panel{width:100%; padding:5px 0; display:none;}
.graph-show__tab-panel div{font-size:14px; letter-spacing:1px; text-align:center;}

/* 「~」同じ親要素を持つ兄弟要素を指定 */
#tab1:checked ~ .graph-show__tab-area .graph-show__tab1-label{background:#fff; color:#000;}
#tab1:checked ~ .graph-show__panel-area #panel1{display:block;}
#tab2:checked ~ .graph-show__tab-area .graph-show__tab2-label{background:#fff; color:#000;}
#tab2:checked ~ .graph-show__panel-area #panel2{display:block;}
#tab3:checked ~ .graph-show__tab-area .graph-show__tab3-label{background:#fff; color:#000;}
#tab3:checked ~ .graph-show__panel-area #panel3{display:block;}