.records-day{

 &__content, &__item2 {
    margin: 1em 0 2em 0;
    display: flex;
    flex-wrap: wrap;
 }


 &__item2 {
    justify-content: space-around;
 }

  &__item1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

 &__item2 {
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
  }

  &__item2:before, &__item2:after {
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
  }

  &__item2:before {left: 10px;}
  &__item2:after {right: 10px;}

  &__box1 {
    margin: 0 30px;
  }

  &__box2 {
    align-self: flex-start;
    width: 300px;
    margin: 20px;
    padding: 5px;
    border: solid 0.3px #ddd;
  }

  &__box3 {
    display: flex;
  }

  &__head {
    font-weight: bold;
    border-bottom: solid 1px #ddd;
    color: #696969;
  }

  &__total, &__box1 {
    border-radius: 5px;
    text-align: end;
    background-color: #f5f5f5;
    padding: 5px;
  }

  &__date {
    margin: 10px 20px 0 10px;
  }

}