.user-index {
  margin: 30px;
  width: 700px;

  &__body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
  }

  &__body:before, &__body:after {
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
  }

  &__body:before {left: 10px;}
  &__body:after {right: 10px;}

  &__h-account {
    font-weight: bold;
    color: #696969;
  }

  &__l-account {
    border-radius: 5px;
    text-align: center;
    border: solid 1px #ddd;
  }

  &__l-name {
    border-radius: 5px;
    text-align: center;
    background-color: #f5f5f5;
  }

  &__image {
    display: block;
    margin: 0 auto;
  }
}