.user-index {
  margin: 30px;
  width: 700px;

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__account {
    text-align: center;
  }

  &__image {
    display: block;
  }
}