.user-index {
  margin: 30px;
  width: 700px;

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__l-account {
    text-align: center;
  }

  &__image {
    display: block;
    margin: 0 auto;
  }
}