<div class="records-month">
  <h2 class="records-month__title">収入カレンダー</h2>

  <%= render 'kakeibo-p/links' %>

  <%= month_calendar events: @income_values do |date, income_value| %>
    <div class="records-month__box">
      <%=date.day %>
      <% sum_values = 0 %>
      <% income_value.each do |item| %>
        <% sum_values += item.value %>
      <% end %>
      <% unless sum_values == 0 %>
            <%=link_to sum_values, {controller: "records", action: "income_day", start_time: date}, class:"records-month__total" %>
      <% end %>
    </div>
  <% end %>
</div>